<h1>{{  section.settings.id}}</h1>

{% schema %}
{
    "name": "Custom sections",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        }
    ],
    "presets": [
        {"name": "New Banner"}
    ],
    "tag": "header",
    "class": "custom-section",
    "limit": 2,
}
{% endschema %}                 