<h1>Hello world</h1>

{% schema %}
{
    "name": "Custom sections",
    "settings": [],
    "presets": [
        {"name": "New Banner"}
    ],
    "tag": "header",
    "class": "custom-section",
    
}
{% endschema %}                 